<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<form method="post" action="resultado">
    {% csrf_token %}
    <div class="sidenav">
        <div>
            {{idade}}
        </div>
        <div>
            {{risco}}
        </div>
        <div>
            {{veiculo}}
        </div>
        <div class="div1">
            <button type="submit" class="botao">Calcular</button>
        </div>
    </div>
</form>
<div class="div2">
    Mild: {{Mild}}<br/>
    None: {{None_}}<br/>
    Moderate: {{Moderate}}<br/>
    Severe: {{Severe}}<br/>
</div>
</body>
</html>